<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Create New Todo</title>
</head>
<body>
    <h1>Create New Todo</h1>
    <form action="/newTodo" method="post">
        <label for="task">Task:</label>
        <input type="text" name="todo" />
        <button type="submit">Add Todo</button>
    </form>
</body>
</html>